<p class="subtitle">Please enter your email address to start.</p>
<div class="box">
  <figure class="avatar is-128x128">
    <img src="https://www.misete.io/logo.png">
  </figure>
  <form onsubmit="return false;">
    <div class="field">
      <div class="control">
        <input id="email" class="input is-large" type="email" placeholder="Your Email" autofocus autocomplete="off">
        <span id="not-found" class="help has-text-danger is-hidden">There are no accounts associated to that address.</span>
        <span id="plz-wait" class="help has-text-warning">Getting ready just for you...</span>
      </div>
    </div>
    <button id="next" disabled class="button is-block is-info is-large is-fullwidth">Next</button>
  </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const nextBtn = document.getElementById('next');
    const emailField = document.getElementById('email');
    const notFound = document.getElementById('not-found');
    const plzWait = document.getElementById('plz-wait');

    ready();

    nextBtn.addEventListener('click', () => {
      const formData = new FormData();
      formData.append('email', emailField.value);
      hideNotFound();
      disableBtn();

      let url = `<%= lookup_path %>`;
      fetch(url, {method: 'post', body: formData, headers: {'X-CSRF-Token': csrfToken()}})
        .then(res => {
          res.json().then(result => {
            if (result.found) {
              window.location.href = '/'
            } else {
              showNotFound();
            }
          });
        });
    });

    function ready() {
      plzWait.classList.add('is-hidden');
      enableBtn();
    }

    function disableBtn() {
      nextBtn.setAttribute('disabled', 'disabled');
    }

    function enableBtn() {
      nextBtn.removeAttribute('disabled');
    }

    function setLoading() {
      disableBtn();
    }

    function showNotFound() {
      notFound.classList.remove('is-hidden');
      enableBtn();
    }

    function hideNotFound() {
      notFound.classList.add('is-hidden');
      enableBtn();
    }
  });
</script>
