/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

.container.restricted {
  max-width: 964px;
}
.hero.is-success {
  background: #F2F6FA;
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.box {
  margin-top: 5rem;
}
.avatar {
  margin-top: -70px;
  padding-bottom: 20px;
}
.avatar.no-margin-top {
  margin-top: 0;
}
.avatar img {
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  height: 128px;
  width: 128px;
}
input {
  font-weight: 300;
}
p {
  font-weight: 700;
}
p.subtitle {
  padding-top: 1rem;
}

.login-hr{
  border-bottom: 1px solid white;
}

.has-text-black{
  color: black;
}

.field{
  padding-bottom: 10px;
}

.fa{
  margin-left: 5px; 
}

.level.login {
  padding: 0 .5rem;
}

.input, .textarea {
  background-color: #3F3F3Fa0 !important;
}

.textarea::placeholder, .input::placeholder { /* Firefox, Chrome, Opera */
  color: #b2b2b2 !important;
}

.textarea::-ms-input-placeholder, .input::-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b2b2b2 !important;
}

.textarea::-ms-input-placeholder, .input::-ms-input-placeholder { /* Microsoft Edge */
  color: #b2b2b2 !important;
}

.textarea::hover, .input:hover {
  background-color: #3F3F3Fc0 !important;
  transition: 0.3s;
}

.textarea::focus, .input:focus {
  background-color: #3F3F3F !important;
}

.no-outline:focus, .no-outline:active {
  outline: none !important;
  box-shadow: none !important;
}
